$color-primary: #15573F;
$color-secondary: #FD9872;
$color-tertiary: #75BC97;

$color-font:#797979;

$header-height: 350px;

@mixin for-phone-only {
    @media (max-width: 425px) {
        @content;
    }
}



body {
    color: $color-font
}

.header {
    width: 100%;
    height: $header-height;
    background-color: #75BC97;
    background-image: url(../img/hero/desktop/left-leaves.png), url(../img/hero/desktop/plantperson.png), url(../img/hero/desktop/right-leaves.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left center, 69% 30%, right center;
    background-size: 59% 100%, auto 82%, 30% 100%;
    transition: all 1s;

    @include for-phone-only() {
        height: 375px;
        background-image: url(../img/hero/mobile/mobile-leaves.png), url(../img/hero/mobile/mobile-plantperson.png);
        background-repeat: no-repeat, no-repeat;
        background-position: top center, bottom center;
        background-size: 100% 68%, auto 44%;
    }

    &__content {
        display: flex;
        width: 70%;
        margin: auto;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: all 1s;

        @include for-phone-only() {
            width: 85%;
            height: 69%;
        }
    }

    &__p {
        color: white;
    }

    &__title {
        color: white;
        font-size: 50px;
        width: 30%;
        font-weight: 700;
        transition: all 1s;

        @include for-phone-only() {
            font-size: 25px;
            width: 55%;
            letter-spacing: 1.3px;
        }
    }

    &__arrow-down {
        width: 25px;

        @include for-phone-only() {
            width: 15px;
        }
    }

}

.content {

    // height: calc(100vh - $header-height);


    .filters {
        width: 70%;
        margin: auto;
        margin-bottom: 50px;

        &__cards {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-areas: "1fr 1fr 1fr";
        }

        &__card {
            // grid-area: filter;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__img {
            height: 75px;
        }

        &__text {
            width: 70%;
            margin: 25px 0;
        }

        &__text-strong {
            font-weight: bold;
        }

        &__options {
            width: 75%;
            margin: auto;
            padding: 10px;
            border-radius: 20px;
            border: 1.5px solid #A8A8A8;
            color: #A8A8A8;
        }

        select {
            margin-left: 0;
        }

        .invert {
            transform: rotateY(180deg);
        }
    }

    .results {

        min-height: 1000px;
        background-color: #F2F2F2;

        .favorite {
            background-color: #75BC97;
            position: absolute;
            display: flex;
            left: 0;
            top: 50px;
            width: 40%;
            height: 8%;
            box-sizing: border-box;
            padding-left: 20px;
            align-items: center;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 10px 28px rgb(0 0 0 / 18%);
            align-items: flex-start;

            &__text {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: white;
                margin-top: 7px;
            }
        }

        &__title {
            padding: 30px 0;
        }

        &__img {
            width: 158px;
            height: 78px;
        }

        &__text {
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 67px;
            color: #0C261C;
        }

        &__container {
            width: 70%;
            margin: auto;
            margin-bottom: 50px;
        }

        &__card {
            padding: 20px;
            box-sizing: border-box;
            background-color: white;
            margin: auto;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
        }

        .card {

            &__title,
            &__value {
                color: #1E6B4E;
                font-weight: bold;
                font-size: 16px;
                line-height: 28px;
            }

            &__status {
                display: flex;
                justify-content: space-between;
            }

            &__icon {
                width: 20px;
                height: 20px;
            }

            &__img {
                width: 100px;
                height: 150px;
                margin: auto;
            }

            &-rarely {
                position: relative;
                grid-area: card;

                .card__title {
                    font-size: 35px;
                    line-height: 37px;
                }

                .card__value {
                    font-size: 24px;
                    line-height: 28px;
                }

                .card__img {
                    width: 300px;
                    height: 350px
                }

                .card__content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 15%;
                }

                .card__status {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }

            }
        }

        &__cards {
            display: grid;
            column-gap: 10px;
            row-gap: 10px;
            height: calc(100% - 350px);
            height: 700px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);

            grid-template-areas:
                "card card 1fr 1fr"
                "card card 1fr 1fr"
                ". . 1fr 1fr";
        }


    }

    .empty {

        background-color: #F2F2F2;

        &__title {
            font-weight: bold;
            font-size: 45px;
            line-height: 55px;
            color: #A9A9A9;
        }

        &__container {
            width: 70%;
            margin: auto;
            display: flex;
            align-items: center;
            padding: 50px 0;
            justify-content: flex-start
        }

        &__img {
            margin: 0 auto;
        }

        &__p {
            font-size: 16px;
            margin: 10px 0;
        }
    }
}